@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @ViewBag.fonction<br />
    @ViewBag.adresse<br />
    <abbr title="Phone">P:</abbr>
    @ViewBag.tel
</address>

<address>
    <strong>Support:</strong> <a href="mailto:@ViewBag.email">@ViewBag.email</a><br />
</address>